<h1>The Best Title Page Ever</h1>
<form action="/title">
  <div class="form-group">
    <label for="title">Form label for our page</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
